/* line 30, ../../sass/Table.scss */
.table-component * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../../sass/Table.scss */
.component {
  display: block;
  margin: 20px;
}

/* line 41, ../../sass/Table.scss */
.table-component {
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: 100%;
  color: #333;
  background: white;
  border-width: 0;
  border-style: none;
  border-color: transparent;
}
/* line 57, ../../sass/Table.scss */
.table-component[data-responsive="true"] {
  width: auto;
  max-width: 100%;
  overflow-y: auto;
}
/* line 63, ../../sass/Table.scss */
.table-component .table-holder {
  position: relative;
}
/* line 67, ../../sass/Table.scss */
.table-component .table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  min-width: 100%;
}
/* line 74, ../../sass/Table.scss */
.table-component .table .row {
  display: table-row;
}
/* line 77, ../../sass/Table.scss */
.table-component .table .row .cell {
  display: table-cell;
  padding: 7px 10px;
}
/* line 81, ../../sass/Table.scss */
.table-component .table .row .cell .cell-fix {
  height: 0;
  display: block;
  overflow: hidden;
}
/* line 89, ../../sass/Table.scss */
.table-component .table .table-head {
  display: table-header-group;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: white;
}
/* line 98, ../../sass/Table.scss */
.table-component .table .table-head .row .cell {
  border-bottom: 2px solid #cacaca;
  background: red;
}
/* line 105, ../../sass/Table.scss */
.table-component .table .table-body {
  display: table-row-group;
}
/* line 109, ../../sass/Table.scss */
.table-component .table .table-body .row:not(:last-of-type) .cell {
  border-bottom: 1px solid #cacaca;
}
/* line 118, ../../sass/Table.scss */
.table-component[data-style="bordered"] .row .cell {
  border: 1px solid #cacaca;
}
/* line 125, ../../sass/Table.scss */
.table-component[data-style="bordered"] .table-head .row .cell {
  border-bottom: 2px solid #cacaca;
}
/* line 135, ../../sass/Table.scss */
.table-component[data-style="striped"] .table-body .row:nth-child(odd) .cell {
  background-color: #f2f2f2;
}
/* line 145, ../../sass/Table.scss */
.table-component[data-enable-hover="true"] .table-body .row:hover .cell {
  color: inherit;
  background-color: #f3f1f1;
}
/* line 156, ../../sass/Table.scss */
.table-component[data-enable-sort="true"] .table-head .row .cell {
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}
/* line 161, ../../sass/Table.scss */
.table-component[data-enable-sort="true"] .table-head .row .cell:after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-top-color: white;
  top: 50%;
  margin-top: -5px;
  right: 10px;
}
/* line 179, ../../sass/Table.scss */
.table-component[data-enable-sort="true"][data-order="true"] .table-head .row .cell[data-active="true"]:after {
  border-top-color: transparent;
  border-bottom-color: white;
}
/* line 191, ../../sass/Table.scss */
.table-component[data-sticky="true"] .table.th {
  position: absolute;
  top: 0;
  z-index: 1;
}
/* line 198, ../../sass/Table.scss */
.table-component[data-sticky="true"] .table.tb .table-head, .table-component[data-sticky="true"] .table.tb .table-head .row, .table-component[data-sticky="true"] .table.tb .table-head .cell {
  border-color: transparent;
  color: transparent;
  background: transparent;
}
/* line 203, ../../sass/Table.scss */
.table-component[data-sticky="true"] .table.tb .table-head:after, .table-component[data-sticky="true"] .table.tb .table-head .row:after, .table-component[data-sticky="true"] .table.tb .table-head .cell:after {
  display: none;
}
